# **x.Model Inference**

Import library

In [1]:
import pickle
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

load file pkl yang akan dipakai (berisi pipeline model)

In [8]:
with open('final_pipeline1.pkl', 'rb') as file:
  pipeline_sgd = pickle.load(file)

membuat data dummy

In [5]:
np.random.seed(21)
n = 100

area = np.random.uniform(1,8,n)
view = np.random.uniform(0,4,n)
bedrooms = np.random.uniform(1,9,n)
bathrooms = np.random.uniform(1,8,n)
sqft_living = np.random.uniform(370,12000,n)
floors = np.random.uniform(1,4,n)
condition = np.random.uniform(1,5,n)
sqft_above = np.random.uniform(370,9400,n)
sqft_basement = np.random.uniform(0,4800,n)



# Membuat DataFrame
data_dummy = pd.DataFrame({
    'area': area,
    'view' : view,
    'bedrooms': bedrooms,
    'bathrooms' : bathrooms,
    'sqft_living': sqft_living,
    'floors': floors,
    'condition' : condition,
    'sqft_above': sqft_above,
    'sqft_basement': sqft_basement,
    
    
})

data_dummy

,area,view,bedrooms,bathrooms,sqft_living,floors,condition,sqft_above,sqft_basement
0,1.341074,2.762087,4.165932,1.034774,8946.731409,3.926238,2.225057,4846.546965,1686.608534
1,3.023768,3.116987,5.761753,5.096409,11900.108860,2.934295,3.969625,5461.901182,2722.313061
2,6.046764,0.188917,4.461385,3.447531,10191.491086,1.959660,1.604026,4044.069018,3867.796164
3,1.151314,0.298245,2.222958,4.177292,9087.994390,3.371028,2.078383,5799.846084,972.320066
4,2.441459,2.419378,7.835965,3.047720,5097.868775,1.052763,3.038873,6720.302904,2369.344830
...,...,...,...,...,...,...,...,...,...
95,1.489786,3.260254,8.060415,6.891132,11095.149907,1.035955,2.493528,2785.797432,1762.577905
96,6.472386,3.849812,4.032988,2.116388,9902.182435,3.275397,4.719383,6724.045735,30.103117
97,1.245721,2.355530,5.057469,6.160888,2423.113554,3.338858,2.409087,1414.714552,3104.058980
98,4.563558,1.617008,7.364855,3.928206,7205.276649,1.315769,1.146885,9039.999866,4419.762143
99,4.071542,2.623508,3.688169,1.850710,9040.384939,2.284936,4.978139,2618.686339,4428.796569

In [6]:
data_dummy.head(10)

,area,view,bedrooms,bathrooms,sqft_living,floors,condition,sqft_above,sqft_basement
0,1.341074,2.762087,4.165932,1.034774,8946.731409,3.926238,2.225057,4846.546965,1686.608534
1,3.023768,3.116987,5.761753,5.096409,11900.108860,2.934295,3.969625,5461.901182,2722.313061
2,6.046764,0.188917,4.461385,3.447531,10191.491086,1.959660,1.604026,4044.069018,3867.796164
3,1.151314,0.298245,2.222958,4.177292,9087.994390,3.371028,2.078383,5799.846084,972.320066
4,2.441459,2.419378,7.835965,3.047720,5097.868775,1.052763,3.038873,6720.302904,2369.344830
5,1.355413,2.849400,3.874673,5.588889,1175.465406,2.655606,4.944161,6059.637012,2932.629820
6,3.115903,0.603098,1.818484,4.441730,2551.354365,2.864113,2.566404,8508.083296,353.012178
7,5.647372,2.459054,1.297999,6.717585,9388.202307,1.825186,1.777157,4675.938707,2447.234022
8,3.156801,0.603404,4.647459,3.544797,6943.656146,2.163799,4.281783,1268.150676,2239.577319
9,5.085139,1.846929,2.025187,2.700597,10686.813452,3.630352,2.268165,2764.542576,3022.755328

In [9]:
prediction_inf = pipeline_sgd.predict(data_dummy)
prediction_inf

array([1700816.84807229, 2229915.59862561, 1305100.56524632,
       1809045.58314714, 2040822.59812239, 2541630.78564993,
       1717775.08775913, 2008013.36516435,  878149.1296241 ,
       1271720.29947694, 2282824.80706266, 1936930.37913706,
       1510015.4286917 , 2272655.81081367, 1777738.16744427,
       1264907.72301171,  527628.95360483, 1243808.70993973,
       1933488.45813452, 2018965.00038916, 1803641.81864354,
       1924852.79871456, 1341233.81995804, 2192723.13609414,
        643401.25071755, 1021465.89777998, 1303676.37007368,
       2463138.94848502, 1594527.94288665, 1721668.33814522,
       1506386.54942333,  551464.63508298, 1740724.70740683,
       1696123.55106293, 1742007.74381827, 1028830.25823331,
       1389021.6001621 , 1348405.21193196, 1736651.62234887,
       1299833.08640187, 1287135.6762354 ,  742155.07620576,
       1799930.20633318, 1535920.64698215,  366833.34882923,
       1778408.97636723,  974461.92316261,  706159.996537  ,
        745296.46747209, 1059574.09081266, 1659807.73277436,
       1739556.02782557,  479084.04735235, 1497730.44062654,
        217551.85704584, 1787085.88456764, 1681335.67778095,
       1456535.65323261, 2007854.20765371, 1214145.28994094,
        678494.98118248, 1782015.82545564, 1732937.06627772,
       1553343.91385431, 1264664.02014205, 1778108.51176176,
       1530766.59082597, 2226818.54444569, 1613349.65238855,
       1453046.94294082,  573539.03196259, 2092935.7325323 ,
       1944250.97153678, 2071347.21206042, 1540114.74281728,
       1884480.83673998, 1959382.74139507, 1053867.12704485,
       1385190.67732049, 1170236.8581294 , 1779884.98949114,
        736647.87371093, 1434327.46104966, 1835386.45631062,
       1253399.4400206 , 2124724.72874298, 1391859.84444774,
       2207629.67742123, 1734493.64678358, 1477553.44214247,
        574383.58535793, 1657923.14196551, 1505758.25367698,
       1096515.39975743, 1699120.23258704, 1403346.63928513,
       1677689.35451987, 1145855.89628636, 1788545.74316986,
       1416667.83253683])

membuat data frame hasil prediksi

In [10]:
# Convert into DataFrame

prediction_inf_df = pd.DataFrame(prediction_inf, columns=['Prediksi Harga Rumah'])
prediction_inf_df

    Prediksi Harga Rumah
0           1.700817e+06
1           2.229916e+06
2           1.305101e+06
3           1.809046e+06
4           2.040823e+06
..                   ...
95          1.403347e+06
96          1.677689e+06
97          1.145856e+06
98          1.788546e+06
99          1.416668e+06

[100 rows x 1 columns]

menggabungkan data frame dummy dengan hasil prediksi

In [12]:
# Merge Inference-Set and Prediction

tabel_inference = pd.concat([data_dummy, prediction_inf_df], axis=1)
tabel_inference

,area,view,bedrooms,bathrooms,sqft_living,floors,condition,sqft_above,sqft_basement,Prediksi Harga Rumah
0,1.341074,2.762087,4.165932,1.034774,8946.731409,3.926238,2.225057,4846.546965,1686.608534,1.700817e+06
1,3.023768,3.116987,5.761753,5.096409,11900.108860,2.934295,3.969625,5461.901182,2722.313061,2.229916e+06
2,6.046764,0.188917,4.461385,3.447531,10191.491086,1.959660,1.604026,4044.069018,3867.796164,1.305101e+06
3,1.151314,0.298245,2.222958,4.177292,9087.994390,3.371028,2.078383,5799.846084,972.320066,1.809046e+06
4,2.441459,2.419378,7.835965,3.047720,5097.868775,1.052763,3.038873,6720.302904,2369.344830,2.040823e+06
...,...,...,...,...,...,...,...,...,...,...
95,1.489786,3.260254,8.060415,6.891132,11095.149907,1.035955,2.493528,2785.797432,1762.577905,1.403347e+06
96,6.472386,3.849812,4.032988,2.116388,9902.182435,3.275397,4.719383,6724.045735,30.103117,1.677689e+06
97,1.245721,2.355530,5.057469,6.160888,2423.113554,3.338858,2.409087,1414.714552,3104.058980,1.145856e+06
98,4.563558,1.617008,7.364855,3.928206,7205.276649,1.315769,1.146885,9039.999866,4419.762143,1.788546e+06
99,4.071542,2.623508,3.688169,1.850710,9040.384939,2.284936,4.978139,2618.686339,4428.796569,1.416668e+06